<h1>My cocktails</h1>
<ol>
 <% @cocktails.each do |cocktail| %>
  <li><%= link_to cocktail.name, cocktail_path(cocktail) %> </li>
 <% end %>
</ol>

<p><%= link_to'Add a new Cocktail', new_cocktail_path %></p>
